$color-primary: #36477C;
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-btn: #f2f2f2;
$color-btn1: #36d399;
$color-notification: #36477C;
$color-bar: #576CAD;
$color-border: #e5e7eb;
$color-red: #FF0000;
$color-info-text: #727781;
$color-table: #eff9fe;
$color-content: #ebebeb;
$color-bd-input: #B9B9C3;
$color-focus-input: #0000CF;
$color-db-button: #EBE9F1;
$color-agent: #6E6B7B;
$color-agent-tab: #6941C6;
$color-complete: #12B76A;
$color-btn-navi: #1E5EFF;
$color-hover: #F2F4F7;
$color-body: #F2F4F7;

