@import "./variables.scss";

.announcement {

    padding: 1rem;

    // content table 
    .content-table {
        margin-top: 20px;

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            overflow: hidden;
        }

        tr,
        th,
        td {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }

        th {
            border: 0;
            text-align: left;
            background: $color-white;
            font-size: 0.8rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: $color-black;
            border-top: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
            &:first-child {
                text-align: center;
            }
        }

        tr {
            background-color: $color-white;

            &:nth-child(odd) {
                background-color: rgba($color: $color-black, $alpha: 0.12);
            }
        }

        td {
            border: 0;
            text-align: left;
            font-size: .875rem;
            line-height: 1.25rem;
            color: $color-agent;
            &:first-child {
                text-align: center;
            }
            img {
                vertical-align: top;
                margin-right: 10px;
            }
        }

        .navigation {
            padding: 20px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .item-per-page {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            &-item {
                margin-left: auto;

                ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    li {
                        padding: 5px 10px;
                        margin: 0 5px;
                        border-radius: 3px;
                        cursor: pointer;

                        &.active {
                            background: $color-primary;
                            color: $color-white;
                        }

                        i.arrow {
                            border: solid $color-black;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                            padding: 3px;
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }

                        &:last-child {
                            margin: 0;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }


    }
}