@import "./variables.scss";

.announcement {

    padding: 1rem;

    .not-found-data {
        display: none;
        .content-table {
            display: block;
            width: 100%;
        }
    }
}