/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./variables.scss";


.container-agent {
	// background: $color-white;
	padding: 6rem 3rem;

	@media (max-width: 1020px) {
		padding: 6rem 1.5rem;
	}

	@media (max-width: 960px) {
		padding: 5rem 1rem;
	}

	.title-account {
		font-size: 2rem;
		color: $color-black;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		max-width: 1200px;
		margin: 1.5rem auto;

		@media (max-width: 1020px) {
			font-size: 1.5rem;
		}

		img {
			margin-right: 10px;

			@media (max-width: 1020px) {
				width: 25px;
			}
		}
	}
}