/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./mixin.scss";

.container-main {
  padding-top: 80px;

  @media (max-width: 1020px) {
    padding-top: 60px;
  }

  @media (max-width: 768px) {
    padding-top: 43px;
  }

  &.hidden-container {
    padding-top: 0;
    overflow: hidden;
    height: 90vh;
  }
}

@import "./header.scss";

// marquee page
.marquee {
  margin: 0 auto;
  background-color: $color-white;
  max-width: 1200px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: $color-notification;
    background-size: 100% 100%;
    width: 20px;
    height: 26px;
    top: 54%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    z-index: 1;
    border-radius: 7px;

    @media (max-width: 960px) {
      height: 21px;
    }
  }

  &-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    p {
      margin: 0 15px;
      color: $color-white;

      @media (max-width: 960px) {
        font-size: 0.7rem;
      }
    }
  }

  marquee {
    margin: 10px 15px 1px;
    padding: 7px;
    border-radius: 8px;
    background: $color-notification;
    position: relative;

    @media (max-width: 768px) {
      margin: 0 5px 1px;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../images/noti.png") no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 8px;
      z-index: 2;

      @media (max-width: 960px) {
        width: 18px;
        height: 18px;
      }

      @media (max-width: 768px) {
        left: 0;
        width: 25px;
        height: 25px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: $color-notification;
      background-size: 100% 100%;
      width: 40px;
      height: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      z-index: 1;
    }
  }

  &.mb-web {
    background: transparent;

    &:after {
      content: none;
    }

    marquee {
      background: transparent;

      &:before {
        left: 0;
      }

      &:after {
        background: $color-content;
      }

      p {
        color: $color-agent;
      }
    }
  }
}

// Slide content
.slider-wrapper {
  padding: 15px;
  background-color: $color-white;
  border-radius: 0 0 15px 15px;

  @media (max-width: 768px) {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
  }

  img {
    width: 100%;
  }

  .object-fill {
    -o-object-fit: fill;
    object-fit: fill;
    max-width: 100%;
    height: auto;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -10px;
    z-index: 3;
    background: $color-white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      -webkit-transform: translateY(-50%) scale(1.1);
      -ms-transform: translateY(-50%) scale(1.1);
      transform: translateY(-50%) scale(1.1);
    }

    img {
      width: 12px;
    }
  }

  .slick-dots {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: none !important;
    }

    li {
      margin: 0 8px;

      &.slick-active {
        button {
          background: $color-red;
        }
      }

      button {
        color: transparent;
        border-radius: 50%;
        border: 0;
        width: 14px;
        height: 14px;
        cursor: pointer;
        padding: 0;
      }
    }
  }

  .slick-arrow {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  .slick-arrow.slick-next {
    left: auto;
    right: -10px;
  }

  .slider-contents {
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 768px) {
      border-radius: 10px;
    }
  }
}

.content-page {
  display: flex;

  &-left {
    display: none;

    @media (max-width: 768px) {
      display: block;
      padding-left: 15px;
    }

    width: 18%;

    ul.tab-type {
      width: 13.6vw;
      height: auto;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      li {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        box-shadow: 0 1px 4px 0 rgba($color: $color-black, $alpha: 0.3);

        &:last-child {
          margin-bottom: 0;
        }
        &.active a {
          background: $color-primary;
          color: $color-white;
        }

        a {
          padding: 0;
          background-repeat: no-repeat;
          background-position: center;
          -o-background-size: cover;
          background-size: cover;
          background: $color-white;
          color: $color-bar;
          display: block;
          padding: 4px;
          border-radius: 5px;

          img {
            width: 8vw;
            height: 6vw;
            margin-bottom: 1vw
          }

          .tab-name {
            transform: scale(.88);
            text-align: center;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            line-height: 1.2;
            margin-top: 0;
            font-size: 0.8rem;
          }

        }

        .icon {
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center
        }

      }
    }
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 15px 10px 10px;

    img {
      width: 25px;
      margin-right: 10px;
    }
  }

  // style list game
  .content-page-list {
    background: $color-white;
    margin-top: 15px;
    border-radius: 15px;

    @media (max-width: 768px) {
      margin-top: 5px;
    }

    .lists-game {
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        @media (max-width: 768px) {
          display: block;
        }
      }

      li {
        width: 31.4%;
        margin: 0.7%;
        border-radius: 10px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;

        @media (max-width: 768px) {
          width: 100%;
        }

        &:hover {
          -webkit-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px);
        }

        img {
          border-radius: 10px;
          width: 100%;
          border: 1px solid $color-border;
        }
      }

      &-second {
        ul li {
          width: 23%;
          position: relative;
          margin-bottom: 15px;

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .game-play {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding-top: 5px;

          span {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }

  // style info game

  .content-info {
    margin-top: 15px;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media (max-width: 768px) {
        display: block;
      }

      li {
        width: 45%;
        background: $color-white;
        padding: 15px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-radius: 15px;

        @media (max-width: 960px) {
          padding: 10px 10px;
          width: 47%;
        }

        @media (max-width: 768px) {
          width: 100%;
          padding: 10px 0;
        }

        &:hover {
          background-color: rgba($color: $color-white, $alpha: 0.3);

          .info-link {
            color: $color-primary;
          }
        }

        .img-info {
          width: 55%;

          img {
            width: 100%;
          }
        }
      }

      .info-text {
        margin-left: 15px;
        position: relative;
        width: 45%;

        h4 {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2rem;

          @media (max-width: 1020px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.3rem;
          color: $color-info-text;
          padding-top: 10px;

          @media (max-width: 1020px) {
            font-size: .8rem;
            padding-top: 0;
            line-height: 1.1rem;
          }

          @media (max-width: 860px) {
            width: 150px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      .info-link {
        margin-left: auto;
        display: block;
        text-align: center;
        cursor: pointer;
        width: 100px;
        font-weight: 600;
        border: 1px solid $color-black;
        border-radius: 3px;
        padding: 3px;
        margin-top: 15px;

        @media (max-width: 960px) {
          width: 80px;
          font-size: 0.9rem;
          margin-top: 5px;
        }
      }
    }
  }

  // content table 
  .content-table {
    margin-top: 20px;

    &-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media (max-width: 768px) {
        display: block;
      }

      &_item {
        width: 47%;
        background: $color-white;
        padding: 0 10px;
        border-radius: 10px;

        @media (max-width: 768px) {
          width: 100%;
          padding: 0 0;
        }
      }
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border-radius: 15px 15px 0 0;
      overflow: hidden;
    }

    tr,
    th,
    td {
      padding: 1.2rem 0.625rem;

      @media (max-width: 960px) {
        padding: 0.8rem 0.425rem;
      }
    }

    th {
      border: 0;
      text-align: left;
      background: $color-primary;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
      color: $color-white;

      @media (max-width: 960px) {
        font-size: 0.78rem;
        line-height: 1.2rem;
      }
    }

    tr {
      background-color: $color-white;

      &:nth-child(even) {
        background-color: $color-table;
      }
    }

    td {
      border: 0;
      text-align: left;
      font-size: .875rem;
      line-height: 1.25rem;

      @media (max-width: 960px) {
        font-size: .775rem;
        line-height: 1rem;
      }

      img {
        width: 15px;
        margin-right: 5px;
        background: $color-white;
        border-radius: 50%;
        padding: 3px;
      }

      &:first-child {
        position: relative;
        padding-left: 30px;

        img {
          position: absolute;
          top: 10px;
          left: 5px;
        }
      }
    }
  }

  &-right {
    padding: 0 15px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 768px) {
      width: 82%;
      max-height: 50vh;
      overflow: auto;

      .title {
        display: none;
      }
    }
  }

}

// footer page
footer {
  padding-top: 100px;
  background-color: $color-content;

  .providers-game {
    background: $color-white;
  }

  .list-providers {
    padding: 1rem 3rem;
    background: $color-white;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 960px) {
      padding: 1rem 1rem;
    }

    .title-ft {
      padding: 0 0 30px;
      text-align: center;
      font-size: 1.6rem;
    }

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      li {
        width: 11%;
        margin-bottom: 30px;

        @media (max-width: 960px) {
          margin-bottom: 20px;
        }

        img {
          width: 80%;
        }
      }
    }
  }

  .copyright {
    padding: 10px;
    background: $color-black;

    p {
      text-align: center;
      color: $color-white;

      @media (max-width: 960px) {
        font-size: 0.8rem;
      }
    }
  }
}

// login form
.unauthorized-area {
  background: $color-white;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 100;
  padding: 1.5rem 0;
  padding-top: 11.5vh;
  display: none;

  &.open-form {
    display: block;
  }

  .login-frm {
    max-width: 584px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px rgba($color: $color-black, $alpha: 0.3);
    box-shadow: 0px 0px 20px rgba($color: $color-black, $alpha: 0.3);
    padding: 30px 10px;
    border-radius: 10px;
  }

  .title-login {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .account {
    width: 95%;
    margin: 0 auto;
    position: relative;

    .icon-user {
      position: absolute;
      top: 58px;
      left: 10px;

      img {
        width: 25px;
      }

      &.eyes {
        left: auto;
        right: 20px;
      }
    }

    input {
      height: 64px;
      padding-left: 3rem;
      font-size: 1rem;
      line-height: 2rem;
      border: 1px solid $color-bd-input;
      --un-border-opacity: 0;
      --un-bg-opacity: 1;
      background-color: $color-white;
      border-radius: .5rem;
      margin-top: 35px;
      color: $color-black;
      width: 90%;

      &:focus {
        outline-style: solid;
        outline-width: 0;
        outline-color: $color-focus-input;
        border: 1px solid $color-focus-input;
      }
    }

    label {
      position: absolute;
      top: 27px;
      left: 35px;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $color-white;
        top: 8px;
        left: -10px;
        z-index: -1;
        padding: 0 10px;
      }
    }

    .error {
      p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 0.8rem;
        padding-top: 5px;

        span {
          color: $color-red;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }

  .login {
    width: 95%;
    margin: 10px auto 5px;

    .remember-pwd {
      font-size: .875rem;
      line-height: 1.25rem;
      margin-left: 0.5rem;
      display: block;
    }

    .btn-login {
      width: 100%;
      height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: rgba($color: $color-db-button, $alpha: 1);
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $color-bd-input;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-animation: button-login .25s ease-out;
      animation: button-login .25s ease-out;
      margin-top: 40px;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }

    .remember {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 15px;

      input {
        height: 1rem;
        width: 1rem;
      }
    }

    .rounded-checkbox {
      vertical-align: middle;
      border: 1px solid $color-bd-input;
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
    }

    .rounded-checkbox:checked {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: $color-black;
    }
  }

  .register-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      color: $color-info-text;
      font-size: .875rem;
      line-height: 1.25rem;
    }

    .regaccount,
    .lgaccount {
      border-radius: 7px;
      cursor: pointer;
      font-weight: 700;
      height: 2rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      min-height: 2rem;
      font-size: .875rem;
      color: $color-primary;
      background: none;
      border: 0;
      text-transform: uppercase;

      &:hover {
        opacity: 0.8;
      }
    }

    .lgaccount {
      background: $color-white;
      border: 1px solid $color-white;

      &:hover {
        background: #e5e6e6;
      }
    }
  }

  .logo-login {
    margin: 0 auto;
    text-align: center;
  }
}


// form register
.register-area {
  background: $color-white;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding-top: 5vh;
  padding-bottom: 30vh;
  display: none;

  &.open-form {
    display: block;
  }

  .step-register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0;

    li {
      width: 20%;
      margin: 0 2%;
      text-align: center;

      &.line-step {
        border-top: 1px solid $color-primary;
      }

      &:last-child {
        span {
          background-color: $color-bd-input;
        }

        p {
          color: $color-bd-input;
        }
      }
    }

    p {
      font-size: 1.2rem;
      color: $color-primary;
      margin-top: 10px;
    }

    span {
      border-radius: 50%;
      background: $color-primary;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 1.5rem;
      text-align: center;
      color: $color-white;
    }
  }

  .logo-login {
    margin: 0 auto;
    text-align: center;
  }

  .title-register {
    font-size: 3rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }

  .register-frm {
    width: 810px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px rgba($color: $color-black, $alpha: 0.3);
    box-shadow: 0px 0px 20px rgba($color: $color-black, $alpha: 0.3);
    padding: 30px 10px;
    border-radius: 10px;
  }

  .register-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;

    &-left {
      width: 100%;
    }

    &-right {
      .account {
        &:last-child {
          margin-top: 67px;

          .icon-form::before {
            content: none;
          }
        }
      }
    }
  }

  .item-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    input {
      width: 85% !important;
    }

    .quesadilla {
      input[type=date]::-webkit-calendar-picker-indicator {
        opacity: 1;
        width: 120px;
        z-index: 10;
        position: relative;
        background: url("../images/icon/date.png") no-repeat;
        background-position: 80% 50%;
        cursor: pointer;
      }

      input {
        margin-right: auto;
      }
    }
  }

  .account {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    i {
      color: $color-red;
    }

    .icon-form {
      position: absolute;
      top: 45px;
      left: 10px;
      z-index: 1;

      img {
        width: 25px;
      }

      &.eyes {
        left: auto;
        right: 20px;
      }
    }

    label {
      position: absolute;
      top: 12px;
      left: 35px;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $color-white;
        top: 8px;
        left: -10px;
        z-index: -1;
        padding: 0 10px;
      }
    }

    .join-item {
      position: absolute;
      right: 0;
      bottom: 1px;
      height: 4.15rem;
      border: 0;
      border-radius: 0 .5rem .5rem 0;
      padding: 0 15px;
      background: $color-bd-input;
      z-index: 10;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    input,
    select {
      height: 60px;
      padding-left: 3rem;
      font-size: 1rem;
      line-height: 1;
      padding-top: 5px;
      border: 1px solid rgba($color: $color-bd-input, $alpha: .7);
      --un-border-opacity: 0;
      --un-bg-opacity: 1;
      background-color: $color-white;
      border-radius: .5rem;
      margin-top: 20px;
      width: 100%;
      z-index: 0;

      &:focus {
        outline-style: solid;
        outline-width: 0;
        outline-color: $color-focus-input;
        border: 1px solid $color-focus-input;
      }
    }

    select {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 3.1rem;
    }

    select.classic {
      background-image:
        -o-linear-gradient(45deg, transparent 50%, $color-black 50%),
        -o-linear-gradient(315deg, $color-black 50%, transparent 50%),
        -o-linear-gradient(left, $color-white, $color-white);
      background-image:
        linear-gradient(45deg, transparent 50%, $color-black 50%),
        linear-gradient(135deg, $color-black 50%, transparent 50%),
        linear-gradient(to right, $color-white, $color-white);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
    }

    select.classic:focus {
      background-image:
        -o-linear-gradient(45deg, $color-black 50%, transparent 50%),
        -o-linear-gradient(315deg, transparent 50%, $color-black 50%),
        -o-linear-gradient(left, $color-white, $color-white);
      background-image:
        linear-gradient(45deg, $color-black 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color-black 50%),
        linear-gradient(to right, $color-white, $color-white);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
      border-color: $color-info-text;
      outline: 0;
    }

    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $color-black;
    }

    .radio-check {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      cursor: pointer;
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 35px 0 15px 40px;
      color: $color-info-text;
    }

    .radio-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 100px;
      left: -50px;
      z-index: 100;
    }

    .checkmark {
      position: absolute;
      top: 7px;
      left: -35px;
      height: 20px;
      width: 20px;
      background-color: $color-content;
      border-radius: 50%;
      border: 1px solid $color-bd-input;

      &:hover {
        border: 1px solid $color-primary;
      }
    }

    .radio-check:hover input~.checkmark {
      background-color: transparent;
    }

    .radio-check input:checked~.checkmark {
      background-color: $color-white;
      border: 1px solid $color-primary;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .radio-check input:checked~.checkmark:after {
      display: block;
    }

    .radio-check .checkmark:after {
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color-primary;
    }

    &.radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      &::before {
        content: none;
      }

      .radio-item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
      }
    }
  }

  .register {
    margin: 20px auto;

    .btn-register {
      width: 100%;
      height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: rgba($color: $color-db-button, $alpha: 1);
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $color-bd-input;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-animation: button-login .25s ease-out;
      animation: button-login .25s ease-out;
      margin-top: 30px;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }
  }

  .register-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      color: $color-info-text;
      font-size: .875rem;
      line-height: 1.25rem;

      &.link {
        text-decoration: underline;
        color: $color-primary;
        font-weight: 700;
        margin-left: 10px;
      }
    }
  }
}


@-webkit-keyframes button-login {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98)
  }

  40% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}


@keyframes button-login {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98)
  }

  40% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@import "./balance-his.scss";
@import "./announcement.scss";


@import "./footer.scss";