@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Medium.woff') format('woff'),
       url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'ClashDisplay-Medium';
  background-color: #ebebeb;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ccc;
}

.container {
  max-width: 1200px;
  background-color: #ebebeb;
  margin: 0 auto;
}

// style header hamburger icon sidebar
.hamburger {
  .line {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
    &:nth-child(2){
      width: 20px;
    }
  }
  &:hover{
    cursor: pointer;
  }
}


/* ONE */

#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
  transition: all 0.3s ease-in-out;
  transform: translateY(8px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
  transition: all 0.3s ease-in-out;
  transform: translateY(-8px) rotate(-45deg);
}
#hamburger.is-active .line:nth-child(2){
  width: 28px;
}
#hamburger .line {
  border-radius: 3px;
}

.container-main {
  padding-top: 80px;
  &.hidden-container {
    padding-top: 0;
    overflow: hidden;
    height: 90vh;
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #36477C;
  position: relative;
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 100px;
    }
    &-icon {
      padding: 26px 0 25px;
      background: #576CAD;
      margin-right: 20px;
      min-width: 70px;
    }
  }
  &-nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          padding: 0.5rem 1rem;
          color: #fff;
          border-radius: 30px;
          @media (max-width: 960px) {
            font-size: 0.75rem;
          }
          &:hover {
            color: #0394e1;
            background: #fff;
            #my-svg path {
              fill: #0394e1;
           }
          }
        }
        svg {
          width: 20px;
          height: 20px;
          color: #fff;
          margin-right: 10px;
          @media (max-width: 960px) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
  &-login {
    display: flex;
    align-items: center;
    button {
      outline: none;
      min-width: 112px;
      display: inline-flex;
      flex-shrink: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: .3rem;
      height: 2.6rem;
      padding-left: 1rem;
      padding-right: 1rem;
      min-height: 2.6rem;
      font-size: .875rem;
      line-height: 1em;
      font-weight: 600;
      text-decoration-line: none;
      border-width: 0;
      text-transform: uppercase;
      --un-border-opacity: 1;
      --un-bg-opacity: 1;
      background-color: #f2f2f2;
      --un-text-opacity: 1;
      margin: 0 5px;
      &:focus {
        animation: button-pop .25s ease-out;
      }
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
       background-color:  #36d399;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  &-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    width: 240px;
    padding: 20px;
    position: absolute;
    background-color: #fff;
    z-index: 6;
    top: 100%;
    left: -30%;
    overflow: auto;
    transition: all 0.3s cubic-bezier(0,0,.2,1);
    height: 90vh;
    &.is-open {
      transition: all 0.3s cubic-bezier(0,0,.2,1);
      left: 0;
    }
    &-head {
      display: flex;
      align-items: center;
      padding: 0 20px 10px;
      border-bottom: 1px solid #e5e7eb;
      .arrow {
        border: solid #05a8ff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 10px;
      }
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
    &-item {
      margin-bottom: 30px;
      ul {
        margin-left: 40px;
        li {
          a {
            display: flex;
            padding-top: 15px;
            align-items: center;
          }
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@keyframes button-pop {
  0% {
      transform: scale(0.98)
  }

  40% {
      transform: scale(1.02)
  }

  to {
      transform: scale(1)
  }
}

// marquee page
.marquee {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1200px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: #253F5D;
    background-size: 100% 100%;
    width: 20px;
    height: 26px;
    top: 54%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 1;
    border-radius: 7px;
  }
  &-group {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0 15px;
      color: #fff;
    }
  }
  marquee {
    margin: 15px 15px 5px;
    padding: 7px;
    border-radius: 8px;
    background: #253F5D;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url("../images/noti.png") no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      background: #253F5D;
      background-size: 100% 100%;
      width: 40px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 1;
    }
  }
}

// Slide content
.slider-wrapper {
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  img {
    width: 100%;
  }
  .object-fill {
    object-fit: fill;
    max-width: 100%;
    height: auto;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    z-index: 3;
    background: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      transform: translateY(-50%) scale(1.1);
    }
    img {
      width: 12px;
    }
  }

  .slick-dots {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 8px;
      &.slick-active {
        button {
          background: #FF0000;
        }
      }
      button {
        color: transparent;
        border-radius: 50%;
        border: 0;
        width: 14px;
        height: 14px;
        cursor: pointer;
        padding: 0;
      }
    }
  }
  .slick-arrow.slick-next {
    left: auto;
    right: -10px;
  }
  .slider-contents {
    border-radius: 20px;
    overflow: hidden;
  }
}

.content-page {

  .title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 15px 10px 10px;
    img {
      width: 25px;
      margin-right: 10px;
    }
  }

  // style list game
  .content-page-list {
    background: #fff;
    margin-top: 15px;
    border-radius: 15px;
    .lists-game {
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      li {
        width: 32.3%;
        margin: 0.5%;
        border-radius: 10px;
        transition: all 0.25s ease-out;
        &:hover {
          transition: all 0.25s ease-out;
          transform: translateY(-5px);
        }
        img {
          border-radius: 10px;
          width: 100%;
          border: 1px solid #ccecff;
        }
      }
      &-second {
        ul li {
          width: 23.5%;
          position: relative;
          margin-bottom: 15px;
        }
        .game-play {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 5px;
          span {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
          }
          button {
            font-size: 0.8vw;
            padding: 0.25rem 0.15rem;
            color: #fff;
            cursor: pointer;
            border: 0;
            background-color: #9ab5cf;
            font-weight: bold;
            border-radius: 3px;
          }
        }
      }
    }
  }


  // style info game

  .content-info {
    margin-top: 15px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        width: 45%;
        background: #fff;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        &:hover {
          background-color: #ecf6fb;
          .info-link {
              color: #36477C;
          }
        }
        .img-info {
          width: 55%;
        }
      }
      .info-text {
        margin-left: 15px;
        position: relative;
        h4 {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2rem;
          @media (max-width: 960px) {
            font-size: 1.2rem;
          }
        }
        p {
          font-size: 16px;
          line-height: 1.3rem;
          color: #727781;
          padding-top: 10px;
          @media (max-width: 960px) {
            font-size: .8rem;
          }
        }
      }
      .info-link {
        margin-left: auto;
        display: block;
        text-align: center;
        cursor: pointer;
        width: 100px;
        font-weight: 600;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 3px;
        margin-top: 15px;
      }
    }
  }

  // content table 
  .content-table {
    margin-top: 20px;    
    &-group {
      display: flex;
      justify-content: space-between;
      &_item {
        width: 47%;
        background: #fff;
        padding: 0 10px;
        border-radius: 10px;
      }
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border-radius: 15px 15px 0 0;
      overflow: hidden;
    }
    tr, th, td {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }
    th {
      border: 0;
      text-align: left;
      background: #36477C;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
      color: #fff;
    }
    tr {
      background-color: #fff;
      &:nth-child(even) {
        background-color: #eff9fe;
      }
    }
    td {
      border: 0;
      text-align: left;
      font-size: .875rem;
      line-height: 1.25rem;
      img {
        width: 15px;
        margin-right: 5px;
        background: #fff;
        border-radius: 50%;
        padding: 3px;
      }
      &:first-child {
        position: relative;
        padding-left: 30px;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 5px;
        }
      }
    }
  }
}

// footer page
footer {
  padding-top: 100px;
  background-color: #ebebeb;
  .providers-game {
    background: #fff;
  }
  .list-providers {
    padding: 1rem 3rem;
    background: #fff;
    max-width: 1600px;
    margin: 0 auto;
    .title-ft {
      padding: 0 0 30px;
      text-align: center;
      font-size: 1.6rem;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 11%;
        margin-bottom: 30px;
        img {
          width: 80%;
        }
      }
    }
  }

  .copyright {
    padding: 10px;
    background: #000;
    p {
      text-align: center;
      color: #fff;
    }
  }
}

// login form
.unauthorized-area {
  background: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 100;
  padding: 1.5rem 0;
  padding-top: 11.5vh;
  display: none;
  &.open-form {
    display: block;
  }
  .login-frm {
    max-width: 584px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.3);
    padding: 30px 10px; 
    border-radius: 10px;
  }
  .title-login {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  
  .account {
    width: 95%;
    margin: 0 auto;
    position: relative;
    .icon-user {
      position: absolute;
      top: 58px;
      left: 10px;
      img {
        width: 25px;
      }
      &.eyes {
        left: auto;
        right: 20px;
      }
    }
    input {
      height: 64px;
      padding-left: 3rem;
      font-size: 1rem;
      line-height: 2rem;
      border: 1px solid #B9B9C3;
      --un-border-opacity: 0;
      --un-bg-opacity: 1;
      background-color: #fff;
      border-radius: .5rem;
      margin-top: 35px;
      width: 90%;
      &:focus {
        outline-style: solid;
        outline-width: 0;
        outline-color: #0000CF;
        border: 1px solid #0000CF;
      }
    }
    label {
      position: absolute;
      top: 27px;
      left: 35px;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
        top: 8px;
        left: -10px;
        z-index: -1;
        padding: 0 10px;
      }
    }
    .error {
      p{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        padding-top: 5px;
        span {
          color: #FF0000;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
  .login {
    width: 95%;
    margin: 10px auto 5px;
    .remember-pwd {
      font-size: .875rem;
      line-height: 1.25rem;
      margin-left: 0.5rem;
      display: block;
    }
    .btn-login {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: #EBE9F1, $alpha: 1);
      border: 0;
      box-shadow: none;
      color: #B9B9C3;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      animation: button-login .25s ease-out;
      margin-top: 40px;
      &:hover {
        color: #fff;
        background: #36477C;
      }
    }

    .remember {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      input {
        height: 1rem;
        width: 1rem;
      }
    }

    .rounded-checkbox {
      vertical-align: middle;
      border: 1px solid #c3c5c8;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
    }
    .rounded-checkbox:checked {
      appearance: auto;
      // clip-path: circle(50% at 50% 50%);
      background: #000;
    }
  }
  .register-account {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #4b5563;
      font-size: .875rem;
      line-height: 1.25rem;
    }
    .regaccount, .lgaccount {
      border-radius: 7px;
      cursor: pointer;
      font-weight: 700;
      height: 2rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      min-height: 2rem;
      font-size: .875rem;
      color: #36477C;
      background: none;
      border: 0;
      &:hover {
        opacity: 0.8;
      }
    }
    .lgaccount {
      background: #fff;
      border: 1px solid #fff;
      &:hover {
        background: #e5e6e6;
      }
    }
  }

  .logo-login {
    margin: 0 auto;
    text-align: center;
  }
}


// form register
.register-area {
  background: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding-top: 5vh;
  padding-bottom: 30vh;
  display: none;
  &.open-form {
    display: block;
  }
  .step-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    li {
      width: 20%;
      margin: 0 2%;
      text-align: center;
      &.line-step {
        border-top: 1px solid #36477C;
      }
      &:last-child {
        span {
          background-color: #B9B9C3;
        }
        p {
          color: #B9B9C3;
        }
      }
    }
    p {
      font-size: 1.2rem;
      color: #36477C;
      margin-top: 10px;
    }
    span {
      border-radius: 50%;
      background: #36477C;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
    }
  }
  .logo-login {
    margin: 0 auto;
    text-align: center;
  }
  .title-register {
    font-size: 3rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }

  .register-frm {
    width: 810px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.3);
    padding: 30px 10px; 
    border-radius: 10px;
  }

  .register-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &-left {
      width: 100%;
    }
    &-right {
      .account {
        &:last-child {
          margin-top: 67px;
          .icon-form::before {
            content: none;
          }
        }
      }
    }
  }
  
  .item-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 85% !important;
    }
    .quesadilla input{
      margin-right: auto;
    }
  }
  .account {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    i {
      color: #FF0000;
    }
    .icon-form {
      position: absolute;
      top: 45px;
      left: 10px;
      z-index: 1;
      img {
        width: 25px;
      }
      &.eyes {
        left: auto;
        right: 20px;
      }
    }
    label {
      position: absolute;
      top: 12px;
      left: 35px;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
        top: 8px;
        left: -10px;
        z-index: -1;
        padding: 0 10px;
      }
    }
    .join-item {
      position: absolute;
      right: 0;
      bottom: 1px;
      height: 4.15rem;
      border: 0;
      border-radius: 0 .5rem .5rem 0;
      padding: 0 15px;
      background: #B9B9C3;
      z-index: 10;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    input, select {
      height: 60px;
      padding-left: 3rem;
      font-size: 1rem;
      line-height: 1;
      padding-top: 5px;
      border: 1px solid rgba($color: #B9B9C3, $alpha: .7);
      --un-border-opacity: 0;
      --un-bg-opacity: 1;
      background-color: #fff;
      border-radius: .5rem;
      margin-top: 20px;
      width: 100%;
      z-index: 0;
      &:focus {
        outline-style: solid;
        outline-width: 0;
        outline-color: #0000CF;
        border: 1px solid #0000CF;
      }
    }
    select {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 3.1rem;
    }
    select.classic {
      background-image:
        linear-gradient(45deg, transparent 50%, #000 50%),
        linear-gradient(135deg, #000 50%, transparent 50%),
        linear-gradient(to right, #fff, #fff);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
    }
    
    select.classic:focus {
      background-image:
        linear-gradient(45deg, #000 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #000 50%),
        linear-gradient(to right, #fff, #fff);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
      border-color: grey;
      outline: 0;
    }
      
    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    .radio-check {
      display: flex;
      position: relative;
      cursor: pointer;
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      align-items: center;
      margin: 35px 0 15px 40px;
      color: #475467;
    }
    .radio-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 100px;
      left: -50px;
      z-index: 100;
    }
    
    .checkmark {
      position: absolute;
      top: 9px;
      left: -35px;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
      border: 1px solid #6E6B7B;
      &:hover {
        border: 1px solid #2196F3;
      }
    }
    .radio-check:hover input ~ .checkmark {
      background-color: transparent;
    }
    
    .radio-check input:checked ~ .checkmark {
      background-color: #fff;
      border: 1px solid #2196F3;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .radio-check input:checked ~ .checkmark:after {
      display: block;
    }
    
    .radio-check .checkmark:after {
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #2196F3;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }

    &.quesadilla:after {
      
    }

    &.radio {
      display: flex;
      justify-content: space-between;
      &::before {
        content: none;
      }
      .radio-item {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .register {
    margin: 20px auto;
    .btn-register {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: #EBE9F1, $alpha: 1);
      border: 0;
      box-shadow: none;
      color: #B9B9C3;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      animation: button-login .25s ease-out;
      margin-top: 30px;
      &:hover {
        color: #fff;
        background: #36477C;
      }
    }
  }
  .register-account {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #4b5563;
      font-size: .875rem;
      line-height: 1.25rem;
      &.link {
        text-decoration: underline;
      }
    }
  }
}


@keyframes button-login {
  0% {
      transform: scale(0.98)
  }

  40% {
      transform: scale(1.02)
  }

  to {
      transform: scale(1)
  }
}